header.header {
	.top_header {
		border-bottom: 1px solid #f7f7f7;
		height: 73px;
		.wrapper {
			height: 73px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			.logo {
				width: 170px;
				height: 46px;
				a {
					img {
						
					}
				}
			}
			.top_nav_1 {
				> ul {
					display: flex;
					> li {
						a {
							font-size: 14px;
							font-weight: 400;
							transition: all 300ms ease-in-out;
							border-bottom: 1px solid transparent;
							&:hover {
								border-bottom: 1px solid #3d3d45;
								transition: all 300ms ease-in-out;
							}
						}
						&:not(:last-child) {
						  padding-right: 35px;
						}
					}
				}
			}
			.phone {
				.phone_number {
					font-size: 18px;
					font-weight: 800;
					transition: all 300ms ease-in-out;
					&:hover {
						opacity: 0.8;
						transition: all 300ms ease-in-out;
					}
				}
			}
			.soc_icon {
				ul {
					display: flex;
					li {
						&:not(:last-child) {
						  padding-right: 27px;
						}
						a img {
							transition: all 300ms ease-in-out;
							&:hover {
								opacity: 0.7;
								transition: all 300ms ease-in-out;
							}
							
						}
					}
				}
			}
		}
	}
	.bottom_header {
		border-bottom: 1px solid #f7f7f7;
		height: 60px;
		.wrapper {
			height: 60px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			.top_nav_2 {
				width: calc(100%-210px);
				
				> ul {
					display: flex;
					justify-content: space-between;
					> li {
						display: flex;
						align-items: center;
						justify-content: center;
						a {
							font-weight: 600;
							font-size: 14px;
						}
						img {
							display: block;
							width: 8px;
							height: 5px;
							padding-left: 10px;
						}
					}
				}
			}
			.search_block {
				border-left: 1px solid #f7f7f7;
				height: 60px;
				width: 180px;
				display: flex;
				.search {
					display: flex;
					align-items: center;
					height: 60px;
					width: 180px;
					button {
						background: url(../img/icon/search.svg) center no-repeat;
						border: 0;
						margin-left: 30px;
						margin-right: 10px;
						cursor: pointer;
						opacity: 0.3;
						&:focus {
							outline: none;
						}
					}
					input[type="text"] {
						height: 31px;
						padding: 0;
						margin: 0;
						border: 0;
						background: transparent;
						padding-left: 0;
						padding-right: 7px;
						box-sizing: border-box;
						font-size: 14px;
						font-weight: 400;
						color: #3d3d45;

						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							color: #848484;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  	color: #848484;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  	color: #848484;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  	color: #848484;
						}
					}
				}
			}
		}
	}
}

.header_section {
	.header_slider {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 40px;
			left: 0;
			display: block;
			width: 7%;
			height: 33px;
			background-color: #fff;
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 200px;
			right: 0;
			display: block;
			width: 13%;
			height: 33px;
			background-color: #f4443f;
		}
		.header_slide {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			height: 620px;
			position: relative;
			z-index: 10;
			outline: none;
			.mask_slide {
				background-color: rgba(61,61,69,0.8);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
			.title_header {
				color: #fff;
				font-size: 65px;
				@include AntiqueTrady_font();
			}
			.subtitle_header {
				color: #fff;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				padding: 20px 100px 30px 100px;
			}
			.btn {
				.btn_click {
					padding: 0 50px;
				}
			}
		}
	}
	.slides_numbers {
		display: flex !important;
		justify-content: flex-start;
		align-items: center;
		height: 125px;
		width: 340px;
		background-color: #fff;
		margin-top: -125px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -200%;
			display: block;
			width: 200%;
			height: 125px;
			background-color: #fff;
			z-index: 1;
		}
		.left {
			width: 19px;
			opacity: 0.2;
			cursor: pointer;
			transition: all 300ms ease-in-out;
			&:hover {
				opacity: 0.5;
				transition: all 300ms ease-in-out;
			}
		}
		.right {
			width: 19px;
			opacity: 0.2;
			cursor: pointer;
			transition: all 300ms ease-in-out;
			&:hover {
				opacity: 0.5;
				transition: all 300ms ease-in-out;
			}
		}
		.numbers_block {
			padding-left: 60px;
			padding-right: 60px;
			.active {
				color: #f4443f;
				font-size: 40px;
				@include AntiqueTrady_font();
			}
			.total {
				color: #b9b9b9;
				font-size: 25px;
				@include AntiqueTrady_font();
			}
		}
	}
}

.services {
	position: relative;
	.background_color {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 112px;
		.wrapper {
			background-color: #f4443f;
			width: 100%;
			height: 112px;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: -50%;
				width: 50%;
				height: 112px;
				background-color: #f4443f;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: -20px;
				width: 20px;
				height: 112px;
				background-color: #f4443f;
			}
		}
	}

	h2.title {
		text-align: center;
		padding-top: 85px;
		padding-bottom: 35px;
		font-size: 50px;
		@include AntiqueTrady_font();
	}
	.block_services {
		display: flex;
		.item_service {
			height: 250px;
			width: 20%;
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			&:nth-child(2n+1) {
				background-color: #f6f6f6;
				&::after {
					position: absolute;
					bottom: -65px;
					right: 0;
					font-size: 180px;
					@include AntiqueTrady_font();
					display: block;
					color: #fff;
					z-index: 1;
				}
			}
			&:nth-child(2n) {
				background-color: #fff;
				margin-top: 70px;
				&::after {
					position: absolute;
					bottom: -65px;
					right: 0;
					font-size: 180px;
					@include AntiqueTrady_font();
					display: block;
					color: #f6f6f6;
					z-index: 1;
				}
			}
			
			.title_item {
				margin-top: 60px;
				margin-left: 28px;
				margin-right: 28px;
				font-weight: 700;
				font-size: 18px;
				display: block;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: -17px;
					left: 0;
					display: block;
					width: 38px;
					height: 3px;
					background-color: #f4443f;
					z-index: 1;
				}
			}
			.text_item {
				padding-top: 38px;
				padding-left: 28px;
				padding-right: 20px;
				font-size: 14px;
				font-weight: 400;
				position: relative;
    			z-index: 2;
			}
			.more {
				display: inline-block;
				color: #f4443f;
				font-weight: 500;
				font-size: 14px;
				padding-top: 28px;
				padding-left: 28px;
				padding-bottom: 40px;
				transition: all 300ms ease-in-out;
				position: relative;
    			z-index: 2;
				&:hover {
					opacity: 0.7;
					transition: all 300ms ease-in-out;
				}
				img {
					padding-left: 12px;
				}
			}
			&:nth-child(1)::after {
				content: "01";
			}
			&:nth-child(2)::after {
				content: "02";
			}
			&:nth-child(3)::after {
				content: "03";
			}
			&:nth-child(4)::after {
				content: "04";
			}
			&:nth-child(5)::after {
				content: "05";
			}
		}
	}
}

.about_company {
	color: #fff;
	padding-top: 95px;
	position: relative;
	.background_color {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.wrapper {
			background-color: #f4443f;
			width: 100%;
			height: 90%;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: -50%;
				width: 50%;
				height: 100%;
				background-color: #f4443f;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: -20px;
				width: 20px;
				height: 100%;
				background-color: #f4443f;
			}
		}
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		position: relative;
		.left_company {
			width: 42%;
			.title {
				font-size: 50px;
				@include AntiqueTrady_font();
				padding-top: 55px;
				padding-bottom: 40px;
			}
			.subtitle {
				font-size: 14px;
				font-weight: 700;
				padding-bottom: 20px;
				display: block;
			}
			.text_company {
				font-size: 14px;
				font-weight: 500;
				padding-bottom: 20px;
			}
			.btn {
				padding-top: 10px;
			}
		}
		.right_company {
			width: 50%;
			position: relative;
			z-index: 10;
			&::before {
				content: "";
				position: absolute;
				top: 50px;
				left: -75px;
				display: block;
				width: 150px;
				height: 33px;
				background-color: #fff;
				z-index: 10;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: 115px;
				right: -110px;
				display: block;
				width: 200px;
				height: 33px;
				background-color: #f4443f;
			}
			img {
				width: 730px;
				height: 550px;
				object-fit: cover;
				background-size: cover;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}
	}
}

.trust_us {
	.top_trust {
		display: flex;
		justify-content: space-between;
		padding-top: 85px;
		padding-bottom: 55px;
		.title {
			font-size: 50px;
			@include AntiqueTrady_font();
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 30px;
				left: 115%;
				width: 185%;
				height: 2px;
				background-color: #f6f6f6;
			}
		}
		.trust_navigation {
			display: flex;
			.left, .right {
				border-radius: 100%;
				background-color: #f6f6f6;
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 300ms ease-in-out;
				&:hover {
					background-color: #f4443f;
					transition: all 300ms ease-in-out;
					span {
						background-color: #fff;
						transition: all 300ms ease-in-out;
					}
				}
				span {
					display: block;
					width: 8px;
					height: 2px;
					background-color: #d6d6d6;
					margin: 1px auto;
					transition: all 300ms ease-in-out;
				}
				.one {
					transform: rotate(45deg) translate(11px, -8px);
				}
				.two {
					transform: rotate(-45deg) translate(-6px, -10px);
				}
			}
			.right {
				margin-left: 20px;
				.one {
					transform: rotate(45deg) translate(8px, -11px);
				}
				.two {
					transform: rotate(-45deg) translate(-10px, -6px);
				}
			}
		}
	}
	
	.slider_trust {
		padding-bottom: 140px;
		.item_trust {
			outline: none;
			&.slick-center {
				img {
					opacity: 1;
					-webkit-filter: grayscale(0%);
					-moz-filter: grayscale(0%);
					-ms-filter: grayscale(0%);
					-o-filter: grayscale(0%);
					filter: grayscale(0%);
					transition: all 300ms ease-in-out;
				}
				
			}
			img {
				margin: 0 auto;
				opacity: 0.5;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
				transition: all 300ms ease-in-out;
				
				&:hover {
					opacity: 1;
					-webkit-filter: grayscale(0%);
					-moz-filter: grayscale(0%);
					-ms-filter: grayscale(0%);
					-o-filter: grayscale(0%);
					filter: grayscale(0%);
					transition: all 300ms ease-in-out;
				}
			}
		}
		.slick-track {
		    display: flex;
		    align-items: center;
		}
	}
}

.news {
	position: relative;
	background-color: #f7f7f7;
	padding-bottom: 85px;
	.background_color {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background-color: #f4443f;
		.wrapper {
			background-color: #f7f7f7;
			width: 100%;
			height: 200px;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: -50%;
				width: 50%;
				height: 100%;
				background-color: #f7f7f7;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 790px;
				height: 100%;
				background-color: #f4443f;
			}
		}
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: -15px;
		left: 0;
		width: 7%;
		height: 33px;
		background-color: #f4443f;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background-color: #f4443f;
		z-index: -1;
	}
	.top_block_news {
		padding-top: 100px;
		padding-bottom: 30px;
		display: flex;
		justify-content: space-between;
		.title {
			font-size: 50px;
			@include AntiqueTrady_font();
		}
		.btn {
			.btn_click {
				padding: 0 45px;
			}
		}
	}
	.block_news {
		display: grid;
		grid-gap: 13px;
		grid-template-rows:  200px 200px;
		grid-template-columns: 300px 300px 300px 300px;
		.new_left {
			grid-column: span 1;
  			grid-row: span 2;
  			display: flex;
  			align-items: flex-end;
  			position: relative;
  			z-index: 20;		
  			.mask_new {
  				background:  #f4443f;
  				position: absolute;
  				top: 0;
  				left: 0;
  				width: 100%;
  				height: 100%;
  				opacity: 1;
  			}
  			img {
				max-width: 300px;
				width: 100%;
				max-height: 325px;
				height: 100%;
				object-fit: cover;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
				opacity: 0.25;
				position: absolute;
				top: 0;
				left: 0;
  			}
  			.info_new {
  				padding: 0 20px 30px 20px;
  				color: #fff;
				position: relative;
				z-index: 30;
  				.data {
					font-size: 14px;
					font-weight: 400;
  				}
  				.title_new {
  					color: #fff;
  					font-size: 16px;
  					line-height: 20px;
  					padding-top: 15px;
  					padding-bottom: 18px;
  					font-weight: 700;
  					display: inline-block;
  					transition: all 300ms ease-in-out;
  					&:hover {
  						opacity: 0.7;
  						transition: all 300ms ease-in-out;
  					}
  				}
  				.description {
  					font-size: 14px;
  					font-weight: 400;
  					display: inline-block;
  					line-height: 18px;
  				}
  			}
		}
		.new_center {
			grid-column: span 2;
  			grid-row: span 1;
  			display: flex;
  			position: relative;
  			background-color: #fff;
  			img {
  				max-width: 300px;
				width: 100%;
				max-height: 200px;
				height: 100%;
				object-fit: cover;
				-webkit-filter: grayscale(75%);
				-moz-filter: grayscale(75%);
				-ms-filter: grayscale(75%);
				-o-filter: grayscale(75%);
				filter: grayscale(75%);
				opacity: 1;
  			}
  			.info_new {
  				padding-left: 30px;
  				padding-top: 25px;
  				color: #313748;
  				.data {
  					opacity: 0.4;
					font-size: 14px;
					font-weight: 400;
  				}
  				.title_new {
  					font-size: 16px;
  					padding-top: 15px;
  					padding-bottom: 18px;
  					line-height: 20px;
  					font-weight: 700;
  					display: inline-block;
  					transition: all 300ms ease-in-out;
  					&:hover {
  						opacity: 0.7;
  						transition: all 300ms ease-in-out;
  					}
  				}
  				.description {
  					font-size: 14px;
  					line-height: 18px;
  					font-weight: 400;
  					display: inline-block;
  				}
  			}
		}
		.new_right {
			grid-column: span 1;
  			grid-row: span 2;
  			display: flex;
  			align-items: flex-end;
  			position: relative;
  			z-index: 20;		
  			.mask_new {
  				background:  #3d3d45;
  				position: absolute;
  				top: 0;
  				left: 0;
  				width: 100%;
  				height: 100%;
  				opacity: 1;
  			}
  			img {
				max-width: 300px;
				width: 100%;
				max-height: 325px;
				height: 100%;
				object-fit: cover;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
				opacity: 0.25;
				position: absolute;
				top: 0;
				left: 0;
  			}
  			.info_new {
  				padding: 0 20px 30px 20px;
  				color: #fff;
				position: relative;
				z-index: 30;
  				.data {
					font-size: 14px;
					font-weight: 400;
  				}
  				.title_new {
  					color: #fff;
  					font-size: 16px;
  					padding-top: 15px;
  					line-height: 20px;
  					padding-bottom: 18px;
  					font-weight: 700;
  					display: inline-block;
  					transition: all 300ms ease-in-out;
  					&:hover {
  						opacity: 0.7;
  						transition: all 300ms ease-in-out;
  					}
  				}
  				.description {
  					font-size: 14px;
  					line-height: 18px;
  					font-weight: 400;
  					display: inline-block;
  				}
  			}
		}
	}
	
}

.contact_us {
	position: relative;
	background-color: #f7f7f7;
	.background_color {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 490px;
		background-color: #f4443f;

		.wrapper {
			background-color: #f7f7f7;
			width: 100%;
			height: 490px;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: -50%;
				width: 50%;
				height: 100%;
				background-color: #f7f7f7;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 790px;
				height: 100%;
				background-color: #f4443f;
			}
		}
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		.left_block {
			width: 50%;
			position: relative;
			z-index: 10;
			&::before {
				content: "";
				position: absolute;
				top: 130px;
				right: -48px;
				display: block;
				width: 95px;
				height: 33px;
				background-color: #fff;
				z-index: 10;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: 75px;
				left: -110px;
				display: block;
				width: 200px;
				height: 33px;
				background-color: #f4443f;
			}
			.img_bg {
				margin-left: -110px;
			}
		}
		.right_block {
			width: 41%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			h2.title {
				color: #fff;
				font-size: 50px;
				@include AntiqueTrady_font();
			}
			form {
				padding-top: 35px;
				width: 100%;
				.input_box {
					display: flex;
					margin-bottom: 35px;
					justify-content: space-between;
					.input_block {
						display: flex;
						flex-direction: column;
						width: 48.5%;
						input[type="text"], input[type="tel"], input[type="mail"] {
							background: transparent;
							border: none;
							border-bottom: 2px solid #fff;
							color: #fff;
							font-size: 14px;
							padding: 15px 0;
							width: 100%;
							box-sizing: border-box;
							transition: all 300ms ease-in-out;
							&:hover, &:active, &:focus {
								outline: none;
								transition: all 300ms ease-in-out;
							}
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								color: #fff;
								font-size: 14px;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							  	color: #fff;
							  	font-size: 14px;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							  	color: #fff;
							  	font-size: 14px;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  	color: #fff;
							  	font-size: 14px;
							}
						}
					}
				}
				.textarea_box, .input_box_e-mail {
					display: flex;
					flex-direction: column;
					margin-bottom: 40px;


					.textarea_message, .input_e-mail {
						resize: none;
					   background: transparent;
					   border: none;
						border-bottom: 2px solid #fff;
						color: #fff;
						font-size: 14px;
						padding: 15px 0;
						width: 100%;
						box-sizing: border-box;
						transition: all 300ms ease-in-out;
						&:hover, &:active, &:focus {
							outline: none;
							transition: all 300ms ease-in-out;
						}
						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							color: #fff;
							font-size: 14px;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  	color: #fff;
						  	font-size: 14px;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  	color: #fff;
						  	font-size: 14px;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  	color: #fff;
						  	font-size: 14px;
						}
					}
					.textarea_message {
						padding: 0;
						font-size: 16px;
						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							color: #fff;
							font-size: 16px;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  	color: #fff;
						  	font-size: 16px;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  	color: #fff;
						  	font-size: 16px;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  	color: #fff;
						  	font-size: 16px;
						}
					}
				}
				.btn {
					.btn_transparent {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.lorem {
	background: linear-gradient(#f7f7f7, #fefefe);
	.top_lorem {
		display: flex;
		justify-content: space-between;
		.left_lorem {
			color: #3d3d45;
			.title {
				font-size: 50px;
				@include AntiqueTrady_font();
				padding-top: 85px;
			}
			.subtitle_lorem {
				font-size: 14px;
				line-height: 18px;
				padding-top: 25px;
				padding-bottom: 30px;
				width: 510px;
				font-weight: 400;
			}
		}
		.right_lorem {

		}
	}
	.bottom_lorem {
		.lorem_navigation {
			display: flex;
			justify-content: flex-end;
    		padding-bottom: 30px;
			.left, .right {
				border-radius: 100%;
				background-color: #f6f6f6;
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 300ms ease-in-out;
				&:hover {
					background-color: #f4443f;
					transition: all 300ms ease-in-out;
					span {
						background-color: #fff;
						transition: all 300ms ease-in-out;
					}
				}
				span {
					display: block;
					width: 8px;
					height: 2px;
					background-color: #d6d6d6;
					margin: 1px auto;
					transition: all 300ms ease-in-out;
				}
				.one {
					transform: rotate(45deg) translate(11px, -8px);
				}
				.two {
					transform: rotate(-45deg) translate(-6px, -10px);
				}
			}
			.right {
				margin-left: 20px;
				.one {
					transform: rotate(45deg) translate(8px, -11px);
				}
				.two {
					transform: rotate(-45deg) translate(-10px, -6px);
				}
			}
		}
		.slider_lorem {
			padding-bottom: 140px;
			.item_trust {
				outline: none;
				&.slick-center {
					img {
						opacity: 1;
						-webkit-filter: grayscale(0%);
						-moz-filter: grayscale(0%);
						-ms-filter: grayscale(0%);
						-o-filter: grayscale(0%);
						filter: grayscale(0%);
						transition: all 300ms ease-in-out;
					}
					
				}
				img {
					margin: 0 auto;
					opacity: 0.5;
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					filter: grayscale(100%);
					transition: all 300ms ease-in-out;
					
					&:hover {
						opacity: 1;
						-webkit-filter: grayscale(0%);
						-moz-filter: grayscale(0%);
						-ms-filter: grayscale(0%);
						-o-filter: grayscale(0%);
						filter: grayscale(0%);
						transition: all 300ms ease-in-out;
					}
				}
			}
			.slick-track {
			    display: flex;
			    align-items: center;
			}
		}
	}
}

.footer {
	background: #202025;
	.top_footer {
		border-bottom: 1px solid #37373b;
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 200px;
			.top_footer_left {
				color: #fff;
				.title {
					font-size: 50px;
					@include AntiqueTrady_font();
				}
				span {
					font-size: 16px;
					font-weight: 400;
					padding-top: 25px;
					display: block;
				}
			}
			.top_footer_right {
				.input_box {
					display: flex;
					.input_block {
						.input_subscribe {
							background: #2a2a30;
							border: none;
							height: 50px;
							border-radius: 25px;
							width: 370px;
							padding: 0 38px;
							margin-right: -38px;
							box-sizing: border-box;
							color: #6b6b78;
							font-size: 16px;
							font-weight: 400;
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								color: #6b6b78;
								font-size: 14px;
								font-weight: 400;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							  	color: #6b6b78;
							  	font-size: 14px;
							  	font-weight: 400;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							  	color: #6b6b78;
							  	font-size: 14px;
							  	font-weight: 400;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  	color: #6b6b78;
							  	font-size: 14px;
							  	font-weight: 400;
							}
						}
						.btn_click {
							padding: 0 47px;
						}
					}
				}
			}
		}
	}
	.center_footer {
		padding-top: 75px;
		padding-bottom: 100px;
		.wrapper {
			display: flex;
			justify-content: space-between;
			.center_footer_left {

			}
			.center_footer_right {
				
			}
		}
		
	}
	.bottom_footer {
		height: 80px;
		border-top: 1px solid #37373b;
		.wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 80px;
			.logo_footer {
				width: 33.33333%;
				img {
					width: 170px;
				}
			}
			.copyright_footer {
				width: 33.33333%;
				text-align: center;
				.copyright {
					color: #fff;
					font-size: 16px;
					font-weight: 400;
				}
			}
			.politic {
				width: 33.33333%;
				text-align: right;
				a {
					color: #f4443f;
					font-size: 16px;
					font-weight: 400;
					transition: all 300ms ease-in-out;
					&:hover {
						opacity: 0.7;
						transition: all 300ms ease-in-out;
					}
				}
			}
		}
		
	}
}