<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/styles/main.min.css">
    <title>City Consult</title>
</head>
<body>

	<header class="header">
		<div class="top_header">
			<div class="wrapper">
				<div class="logo">
					<a href="index.html"><img src="assets/img/icon/logo_dark.svg" alt="Logo"></a>
				</div>
				<nav class="top_nav_1">
					<ul>
						<li><a href="about.html">О компании</a></li>
						<li><a href="recommendations.html">Рекомендации</a></li>
						<li><a href="blog.html">Статьи</a></li>
						<li><a href="contacts.html">Контакты</a></li>
						<li><a href="sales.html">Sales</a></li>
					</ul>
				</nav>
				<div class="phone">
					<a href="tel:+7(499)00-00-000" class="phone_number">+7(499)00-00-000</a>
				</div>
				<div class="soc_icon">
					<ul>
						<li><a href="#"><img src="assets/img/tlg.png" alt="#"></a></li>
						<li><a href="#"><img src="assets/img/viber.png" alt="#"></a></li>
						<li><a href="#"><img src="assets/img/skype.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="btn">
					<a class="btn_click" href="#">Связаться с нами</a>
				</div>
			</div>
		</div>
		<div class="bottom_header">
			<div class="wrapper">
				<nav class="top_nav_2">
					<ul>
						<li><a href="#">Бухгалтерские услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Юридические услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">IT услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Регистрационные услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Продажа готовых организаций</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
					</ul>
				</nav>
				<div class="search_block">
					<form action="#" class="search">
						<button type="submit" name="submit"><img src="assets/img/icon/search.svg" alt="#"></button>
						<input type="text" name="search" placeholder="Поиск">
					</form>
				</div>
			</div>
		</div>
	</header>

	<div class="bread_crumbs">
		<div class="wrapper">
			<div class="item_active">
				<a href="#">Главная</a>
			</div>
			<span class="line"></span>
			<div class="item">
				<span>О компании</span>
			</div>
		</div>
	</div>	

	<section class="about_company_section">
		<div class="wrapper">
			<div class="left_company">
				<h2 class="title">О компании City Consult</h2>
				<span class="subtitle">Входим в Топ 100 крупнейших компаний <br> России по аудиту, консалтингу и аутсорсингу.</span>
				<p class="text_company">Оказываем профессиональные услуги, которые помогают вашему бизнесу функционировать. Работаем с отдельными компаниями, группами и холдингами в Москве, Московской области и по всей России.</p>
				<p class="text_company">Любим свое дело. Работаем на результат.<br>
					Выполняем проекты в установленные сроки.<br>
					Регулярно повышаем свою квалификацию.<br>
					Применяем только лучшие методики и наработки.</p>
			</div>
			<div class="right_company">
				<div class="img_video">
					<div class="img_bg" style="background: url(assets/img/about/header_about.jpg) no-repeat center; "></div>
					
				</div>
				<div class="btn">
					<a href="#" class="btn_youtube"><span class="triangle-right"></span></a>
				</div>
			</div>
		</div>
	</section>

	<section class="our_cases">
		<div class="wrapper">

		</div>
	</section>

	<section class="contact_us our_vacancies">
		<div class="background_color">
			<div class="wrapper"></div>
		</div>
		<div class="wrapper">
			<div class="left_block">
				<div class="img_bg" style="background: url(assets/img/about/1.jpg)  no-repeat center;"></div>
			</div>
			<div class="right_block">
				<h2 class="title">Наши вакансии</h2>
				<span class="description_vacancies">Заполните форму для отправки вам актуальных вакансий</span>
				<form action="#">
					<div class="input_box">
						<div class="input_block">
							<input type="text" id="name" class="input_name" name="name" placeholder="Имя" required>
						</div>
						<div class="input_block">
							<input type="tel" id="phone" class="input_phone" name="phone" placeholder="Телефон" required>
						</div>
					</div>
					<div class="input_box_e-mail">
						<div class="input_block">
							<input type="mail" id="e-mail" class="input_e-mail" name="e-mail" placeholder="E-mail" required>
						</div>
					</div>
					<div class="btn">
						<input type="submit" class="btn_transparent" value="Получить вакансии">
					</div>
				</form>
			</div>
		</div>
	</section>

	<footer class="footer">
		
			<div class="top_footer">
				<div class="wrapper">
					<div class="top_footer_left">
						<h2 class="title">Подписывайтесь на новости</h2>
						<span>Новости финансов, налогов и учета</span>
					</div>
					<div class="top_footer_right">
						<form action="#" class="subscribe">
							<div class="input_box">
								<div class="input_block">
									<input type="text" class="input_subscribe" name="subscribe" placeholder="Введите e-mail" required>
								</div>
								<div class="input_block">
									<input type="submit" class="btn_click" name="submit" value="Подписаться">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="center_footer">
				<div class="wrapper">
					<div class="center_footer_left">
						
					</div>
					<div class="center_footer_right">
						
					</div>
				</div>
			</div>
			<div class="bottom_footer">
				<div class="wrapper">
					<div class="logo_footer">
						<a href="#"><img src="assets/img/icon/logo_white.svg" alt="#"></a>
					</div>
					<div class="copyright_footer">
						<span class="copyright">&copy; 2020 CBS Group. Все права защищены.</span>
					</div>
					<div class="politic">
						<a href="#">Политика конфиденциальности</a>
					</div>
				</div>
				
			</div>
	
	</footer>

	<script src="assets/scripts/jquery-3.5.1.min.js"></script>
	<script src="assets/scripts/jqueryScript.js"></script>
	<script src="assets/scripts/slick.min.js"></script>

</body>
</html>