<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/styles/main.min.css">
	<link rel="stylesheet" href="assets/styles/style.css">
	<link rel="stylesheet" href="assets/styles/styles.css">
	<script src="assets/scripts/modernizr.js"></script>
    <title>City Consult</title>
</head>
<body>

	<header class="header">
		<div class="top_header">
			<div class="wrapper">
				<div class="logo">
					<a href="index.html"><img src="assets/img/icon/logo_dark.svg" alt="Logo"></a>
				</div>
				<nav class="top_nav_1">
					<ul>
						<li><a href="about.html">О компании</a></li>
						<li><a href="recommendations.html">Рекомендации</a></li>
						<li><a href="blog.html">Статьи</a></li>
						<li><a href="contacts.html">Контакты</a></li>
						<li><a href="sales.html">Sales</a></li>
					</ul>
				</nav>
				<div class="phone">
					<a href="tel:+7(499)00-00-000" class="phone_number">+7(499)00-00-000</a>
				</div>
				<div class="soc_icon">
					<ul>
						<li><a href="#"><img src="assets/img/tlg.png" alt="#"></a></li>
						<li><a href="#"><img src="assets/img/viber.png" alt="#"></a></li>
						<li><a href="#"><img src="assets/img/skype.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="btn">
					<a class="btn_click" href="#">Связаться с нами</a>
				</div>
			</div>
		</div>
		<div class="bottom_header">
			<div class="wrapper">
				<nav class="top_nav_2">
					<ul>
						<li><a href="#">Бухгалтерские услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Юридические услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">IT услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Регистрационные услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Продажа готовых организаций</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
					</ul>
				</nav>
				<div class="search_block">
					<form action="#" class="search">
						<button type="submit" name="submit"><img src="assets/img/icon/search.svg" alt="#"></button>
						<input type="text" name="search" placeholder="Поиск">
					</form>
				</div>
			</div>
		</div>
	</header>

	<div class="bread_crumbs">
		<div class="wrapper">
			<div class="item_active">
				<a href="#">Главная</a>
			</div>
			<span class="line"></span>
			<div class="item">
				<span>Статьи</span>
			</div>
		</div>
	</div>

	<section class="blog_news">
		<div class="wrapper">
			<div class="top_blog_news">
				<h2 class="title">Статьи</h2>
			</div>
			<div class="section_blog_news cd-gallery-container">
				<nav class="cd-filter">
					<ul>
						<li class="placeholder"> 
							<a data-type="red" href="#0">Все</a> <!-- selected option on mobile -->
						</li> 
		
						<li>
							<a class="selected active" data-type="1" href="#0">Все</a>
						</li>
		
						<li>
							<a data-type="2" href="#0">Коронавирус</a>
						</li>
		
						<li>
							<a data-type="3" href="#0">Кейсы проектов</a>
						</li>

						<li>
							<a data-type="2" href="#0">Наши решения</a>
						</li>

						<li>
							<a data-type="2" href="#0">Знания экспертов</a>
						</li>

						<li>
							<a data-type="2" href="#0">Полезно знать</a>
						</li>

					</ul>
				</nav>
				<div class="section_news cd-gallery cd-container">
					<ul class="cd-item-wrapper">
						<li class="is-visible new">
							<div class="new_bg" style="background: url(assets/img/v3/1.jpg) no-repeat center; "></div>
							<div class="info_new">
								<span class="data">1.02.2020</span>
								<a href="#" class="title_new">Краудлендинг это быстро и технологично</a>
								<span class="description">Новые виды кредитования стали темой диалога международном стратегическом форуме IPQuorum 2019</span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="new_bg" style="background: url(assets/img/v3/1.jpg) no-repeat center; "></div>
							<div class="info_new">
								<span class="data">2.02.2020</span>
								<a href="#" class="title_new">Как найти инвестора для бизнеса</a>
								<span class="description">Где найти инвестора в действующий бизнес или для нового проекта? Первое, что приходит на ум, это банк. </span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="info_new">
								<span class="data">3.02.2020</span>
								<a href="#" class="title_new">Частные кредиты бизнесу</a>
								<span class="description">На рынке кредитования активизировались альтернативные игроки без лицензий. На рынок классического банковского</span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="info_new">
								<span class="data">4.02.2020</span>
								<a href="#" class="title_new">Краудлендинг это быстро и технологично</a>
								<span class="description">Новые виды кредитования стали темой диалога международном стратегическом форуме IPQuorum 2019</span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="new_bg" style="background: url(assets/img/news/1.png) no-repeat center; "></div>
							<div class="info_new">
								<span class="data">5.02.2020</span>
								<a href="#" class="title_new">Краудлендинг это быстро и технологично</a>
								<span class="description">Новые виды кредитования стали темой диалога международном стратегическом форуме IPQuorum 2019</span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="new_bg" style="background: url(assets/img/v3/3.jpg) no-repeat center; "></div>
							<div class="info_new">
								<span class="data">6.02.2020</span>
								<a href="#" class="title_new">Как найти инвестора для бизнеса</a>
								<span class="description">Где найти инвестора в действующий бизнес или для нового проекта? Первое, что приходит на ум, это банк. </span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="new_bg" style="background: url(assets/img/v3/3.jpg) no-repeat center; "></div>
							<div class="info_new">
								<span class="data">7.02.2020</span>
								<a href="#" class="title_new">Частные кредиты бизнесу</a>
								<span class="description">На рынке кредитования активизировались альтернативные игроки без лицензий. На рынок классического банковского</span>
							</div>
						</li>
						<li class="is-visible new">
							<div class="new_bg" style="background: url(assets/img/v3/2.png) no-repeat center; "></div>
							<div class="info_new">
								<span class="data">8.02.2020</span>
								<a href="#" class="title_new">Краудлендинг это быстро и технологично</a>
								<span class="description">Новые виды кредитования стали темой диалога международном стратегическом форуме IPQuorum 2019</span>
							</div>
						</li>
					</ul>
					
				</div>
				<nav class="navigation pagination">
					<div class="nav-links">
						<a class="prev page-numbers" href="#">Назад</a>

						<span class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a>
						<span class="page-numbers dots">…</span>
						<a class="page-numbers" href="#">5</a>
						<a class="page-numbers" href="#">6</a>

						<a class="next page-numbers" href="#">Далее</a>
					</div>
				</nav>
			</div>
			
		</div>
	</section>

	<footer class="footer">
		
			<div class="top_footer">
				<div class="wrapper">
					<div class="top_footer_left">
						<h2 class="title">Подписывайтесь на новости</h2>
						<span>Новости финансов, налогов и учета</span>
					</div>
					<div class="top_footer_right">
						<form action="#" class="subscribe">
							<div class="input_box">
								<div class="input_block">
									<input type="text" class="input_subscribe" name="subscribe" placeholder="Введите e-mail" required>
								</div>
								<div class="input_block">
									<input type="submit" class="btn_click" name="submit" value="Подписаться">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="center_footer">
				<div class="wrapper">
					<div class="center_footer_left">
						
					</div>
					<div class="center_footer_right">
						
					</div>
				</div>
			</div>
			<div class="bottom_footer">
				<div class="wrapper">
					<div class="logo_footer">
						<a href="#"><img src="assets/img/icon/logo_white.svg" alt="#"></a>
					</div>
					<div class="copyright_footer">
						<span class="copyright">&copy; 2020 CBS Group. Все права защищены.</span>
					</div>
					<div class="politic">
						<a href="#">Политика конфиденциальности</a>
					</div>
				</div>
				
			</div>
	
	</footer>

	<script src="assets/scripts/jquery-3.5.1.min.js"></script>
	<script src="assets/scripts/jqueryScript.js"></script>
	<script src="assets/scripts/slick.min.js"></script>

</body>
</html>