<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/styles/main.min.css">
	<link rel="stylesheet" href="assets/styles/style.css">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="assets/styles/sales.css">
	<script src="assets/scripts/modernizr.js"></script>
    <title>City Consult</title>
</head>
<body>

	<header class="header">
		<div class="top_header">
			<div class="wrapper">
				<div class="logo">
					<a href="index.html"><img src="assets/img/icon/logo_dark.svg" alt="Logo"></a>
				</div>
				<nav class="top_nav_1">
					<ul>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="recommendations.html">Рекомендации</a></li>
                        <li><a href="blog.html">Статьи</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="sales.html">Sales</a></li>
                    </ul>
				</nav>
				<div class="phone">
					<a href="tel:+7(499)00-00-000" class="phone_number">+7(499)00-00-000</a>
				</div>
				<div class="soc_icon">
					<ul>
						<li><a href="#"><img src="assets/img/tlg.png" alt="#"></a></li>
						<li><a href="#"><img src="assets/img/viber.png" alt="#"></a></li>
						<li><a href="#"><img src="assets/img/skype.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="btn">
					<a class="btn_click" href="#">Связаться с нами</a>
				</div>
			</div>
		</div>
		<div class="bottom_header">
			<div class="wrapper">
				<nav class="top_nav_2">
					<ul>
						<li><a href="#">Бухгалтерские услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Юридические услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">IT услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Регистрационные услуги</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
						<li><a href="#">Продажа готовых организаций</a><img src="assets/img/icon/arrow_down.svg" alt="#"></li>
					</ul>
				</nav>
				<div class="search_block">
					<form action="#" class="search">
						<button type="submit" name="submit"><img src="assets/img/icon/search.svg" alt="#"></button>
						<input type="text" name="search" placeholder="Поиск">
					</form>
				</div>
			</div>
		</div>
	</header>

	<div class="bread_crumbs">
		<div class="wrapper">
			<div class="item_active">
				<a href="#">Главная</a>
			</div>
			<span class="line"></span>
			<div class="item">
				<span>Продажа готовых фирм</span>
			</div>
		</div>
    </div>
    
    <section class="sale_firm">
        <div class="wrapper">
            <h2 class="title">Готовые фирмы: каталог компаний</h2>
            <span class="subtitle_firm">Каталог находится в режиме пополнения, пожалуйста, звоните нам в офис, чтобы узнать полный список компаний</span>
            <form action="#" class="search_firm">
                <div class="input_box">
                	  <img src="assets/img/icon/search.svg" alt="#">
                    <div class="input_block">
                        <input type="text" class="input_search_firm" name="search_firm" placeholder="Поиск по каталогу">
                    </div>
                    <div class="input_block_btn">
                        <input type="submit" class="btn_click" name="submit" value="Искать">
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="filter_section">
        <div class="wrapper">
            <span class="title_filter">Фирмы по параметрам</span>
            <form>
                <div class="top_filter">
                    <div class="select_box">
                        <div class="select_block">
                            <span class="name_select">Город</span>
                            <div class="city_box">
                                <span class="click_open1">Город</span>
                                <ul class="open_block1">
                                    <li>
                                        <label>
                                        		<input id="Город1" name="Город1" type="checkbox" class="select_checkbox">
                                        		<span>Город1</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Город2" name="Город2" type="checkbox" class="select_checkbox">
                                        		<span>Город2</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Город3" name="Город3" type="checkbox" class="select_checkbox">
                                        		<span>Город3</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Город4" name="Город4" type="checkbox" class="select_checkbox">
                                        		<span>Город4</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Город5" name="Город5" type="checkbox" class="select_checkbox">
                                        		<span>Город5</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="select_block">
                            <span class="name_select">Обороты</span>
                            <div class="city_box">
                                <span class="click_open2">Обороты</span>
                                <ul class="open_block2">
                                    <li>
                                        <label>
                                        		<input id="Обороты1" name="Обороты1" type="checkbox" class="select_checkbox">
                                        		<span>Обороты1</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Обороты2" name="Обороты2" type="checkbox" class="select_checkbox">
                                        		<span>Обороты2</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Обороты3" name="Обороты3" type="checkbox" class="select_checkbox">
                                        		<span>Обороты3</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="select_block">
                            <span class="name_select">Допуск СРО</span>
                            <div class="city_box">
                                <span class="click_open3">Допуск СРО</span>
                                <ul class="open_block3">
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО1" name="Допуск_СРО1" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО1</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО2" name="Допуск_СРО2" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО2</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО3" name="Допуск_СРО3" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО3</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО4" name="Допуск_СРО4" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО4</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО5" name="Допуск_СРО5" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО5</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО6" name="Допуск_СРО6" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО6</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО7" name="Допуск_СРО7" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО7</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО8" name="Допуск_СРО8" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО8</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        		<input id="Допуск_СРО9" name="Допуск_СРО9" type="checkbox" class="select_checkbox">
                                        		<span>Допуск_СРО9</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="input_box">
	                        <span class="name_input">Цена</span>
	                        <div class="input_block">
	                            <input type="text" class="input_price_of" name="input_price_of" placeholder="От">
	                        </div>
	                     </div>
	                     <div class="input_box">
	                        <span style="display: block;padding-top: 25px;"></span>
	                        <div class="input_block">
	                            <input type="text" class="input_price_up" name="input_price_up" placeholder="До">
	                        </div>
	                     </div>
                    </div>
                    <!-- <div class="input_box">
                        <span class="name_input">Цена</span>
                        <div class="input_block">
                            <input type="text" class="input_price_of" name="input_price_of" placeholder="От">
                            <input type="text" class="input_price_up" name="input_price_up" placeholder="До">
                        </div>
                    </div> -->
                </div>

                <div class="center_filter">

                </div>
                
                <div class="bottom_filter">
                    <div class="btn_box">
                        <div class="btn">
                            <input type="submit" class="btn_click" value="Показать">
                        </div>
                        <div class="btn">
                            <input type="submit" class="btn_transparent" value="Сбросить">
                        </div>
                        <div class="btn">
                            <span class="additional_options">Дополнительные параметры</span>
                        </div>
                    </div>
                </div>

            </form>
            
        </div>
    </section>

	<footer class="footer">
		
			<div class="top_footer">
				<div class="wrapper">
					<div class="top_footer_left">
						<h2 class="title">Подписывайтесь на новости</h2>
						<span>Новости финансов, налогов и учета</span>
					</div>
					<div class="top_footer_right">
						<form action="#" class="subscribe">
							<div class="input_box">
								<div class="input_block">
									<input type="text" class="input_subscribe" name="subscribe" placeholder="Введите e-mail" required>
								</div>
								<div class="input_block">
									<input type="submit" class="btn_click" name="submit" value="Подписаться">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="center_footer">
				<div class="wrapper">
					<div class="center_footer_left">
						
					</div>
					<div class="center_footer_right">
						
					</div>
				</div>
			</div>
			<div class="bottom_footer">
				<div class="wrapper">
					<div class="logo_footer">
						<a href="#"><img src="assets/img/icon/logo_white.svg" alt="#"></a>
					</div>
					<div class="copyright_footer">
						<span class="copyright">&copy; 2020 CBS Group. Все права защищены.</span>
					</div>
					<div class="politic">
						<a href="#">Политика конфиденциальности</a>
					</div>
				</div>
				
			</div>
	
	</footer>

	<script src="assets/scripts/jquery-3.5.1.min.js"></script>
	<script src="assets/scripts/jqueryScript.js"></script>
	<script src="assets/scripts/slick.min.js"></script>

</body>
</html>