.btn_click {
	display: inline-block;
	padding: 20px 30px;
	background: #f4443f;
	border-radius: 25px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	transition: all 200ms ease-in-out;
	&:hover {
		background: #FF9646;
		transition: all 200ms ease-in-out;
	}
}

.btn_transparent {
	display: inline-block;
	padding: 18px 36px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 25px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	transition: all 200ms ease-in-out;
	&:hover {
		background: #fff;
		color: #f4443f;
		transition: all 200ms ease-in-out;
	}
}

.btn_click, .submit {
	transition: all 200ms ease-in-out;
	&:hover {
		background: #202020 !important;
		transition: all 200ms ease-in-out;
	}
}
